

h1, p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.status-dot-alive {
    height: 10px;
    width: 10px;
    background-color: greenyellow;
    border-radius: 50%;
    display: inline-block;
}

.status-dot-dead {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

.status-dot-unknown {
    height: 10px;
    width: 10px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
}

.character {
    display: flex;
    width: 40%;
    height: 10%;
    background-color: #484848;
    border-radius: 25px;
    margin: 15px;
    padding: 10;
}

.character:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.character-image {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 100%;
}