

h1, h2, p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h1 {
    font-size: min(2.5vw, 30px);
}

p {
    font-size: min(1.5vw, 20px);
}

h2 {
    font-size: 2vw;
}

img {
    width: 30vw;
    height: auto;
    max-width: 300px;
    max-height: 300px;
}

.episode-title {
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
}

.status-dot-alive {
    height: 10px;
    width: 10px;
    background-color: greenyellow;
    border-radius: 50%;
    display: inline-block;
}

.subtitle {
    color: lightgrey;
}

.air_date {
    color: dimgray;
    font-style: italic;
}

.status-dot-dead {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

.episode-list {
    width: 50%;
    max-width: 800px;
}

.status-dot-unknown {
    height: 10px;
    width: 10px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
}

.character {
    overflow: hidden;
    display: flex;
    width: 75vw;
    height: auto;
    max-width: 800px;
    max-height: 300px;
    background-color: #484848;
    border-radius: 25px;
    margin: 15px;
}

.created-text {
    margin-top: 4em;
}

.character:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.character-image {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 100%;
}

.navlink {
    text-decoration: none;
}

.created-text{
    display: flex;
    justify-content: center;
}

.character-page {
    margin: 2rem;
}